button {
  cursor: pointer;
  border: none;
  font-size: 1.125rem;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.primary {
  background: var(--primary);
  text-shadow: 0 0.0625rem 0 rgab(0, 0, 0, 0.12);
  color: var(--white);
}

.primary:hover {
  background: var(--primary-darken);
  color: var(--white);
}

.secondary {
  background: #f7f7ff;
  color: var(--primary);
}

.secondary:hover {
  color: var(--white);
  background: var(--primary-darken);
}
