.card {
  width: 100%;
  background: var(--dark);
  margin-top: 24px;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  color: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: background-color ease-in-out 0.1s;
  display: flex;
}

.card:hover {
  background: var(--primary);
}

.left {
  width: 50%;
  padding: 24px;
  height: 240px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  transition: background-color ease-in-out 0.1s;
}

.right {
  padding: 24px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 550px) {
  .card {
    flex-direction: column;
  }

  .left {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .card:hover .left {
    background-color: var(--primary-darken);
  }

  .left,
  .right {
    width: 100%;
  }
}

.subtitle {
  color: var(--white-80);
  font-size: 20px;
  margin-top: 0;
}

.preview {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: transform ease-in-out 0.1s;
  max-width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.card:hover .preview {
  transform: translateY(-8px);
}
