.card {
  width: 100%;
  background: var(--dark);
  margin-top: 24px;
  box-shadow: var(--card-shadow);
  border-radius: 12px;
  color: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: background-color ease-in-out 0.1s;
  display: flex;
}

.card:hover {
  background: var(--primary);
}

.left {
  width: 50%;
  padding: 24px 24px 0 24px;
  height: 240px;
  overflow: hidden;
  text-align: center;
  background: transparent;
  transition: background-color ease-in-out 0.1s;
  display: flex;
  flex-direction: column;
}

.right {
  padding: 24px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  color: var(--white-80);
  font-size: 20px;
  margin: 0;
}

.preview {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  transition: transform ease-in-out 0.1s;
  max-width: 100%;
  overflow: hidden;
  margin-top: auto;
  transform: translateY(8px);
}

.card:hover .preview {
  transform: translateY(0px);
}

@media (max-width: 625px) {
  .card {
    flex-direction: column;
  }

  .left {
    padding-bottom: 0;
    height: auto;
  }

  .card:hover {
    background: var(--dark);
  }

  .card:active {
    background: var(--primary);
  }

  .left img {
    border-radius: 6px;
  }

  .left,
  .right {
    width: 100%;
  }

  .preview {
    transform: translateY(0px);
  }

  .card:hover .preview {
    transform: translateY(0px);
  }
}
