.card {
  width: 100%;
  background: var(--dark);
  margin-top: 1.5rem;
  box-shadow: var(--card-shadow);
  border-radius: var(--radius-big);
  color: var(--white);
  overflow: hidden;
  cursor: pointer;
  transition: background-color ease-in-out 0.1s;
  display: flex;
}

.card:hover {
  background: var(--primary);
}

.left {
  width: 50%;
  padding: 1.5rem 1.5rem 0 1.5rem;
  height: 15rem;
  overflow: hidden;
  text-align: center;
  background: transparent;
  transition: background-color ease-in-out 0.1s;
  display: flex;
  flex-direction: column;
}

.right {
  padding: 1.5rem;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  color: var(--white-80);
  font-size: 1.25rem;
  margin: 0;
}

.preview {
  border-top-right-radius: var(--radius-small);
  border-top-left-radius: var(--radius-small);
  transition: transform ease-in-out 0.1s;
  max-width: 100%;
  overflow: hidden;
  margin-top: auto;
  transform: translateY(0.5rem);
}

.preview img {
  height: auto !important; /* fix for Gatsby generated inline styles */
}

.card:hover .preview {
  transform: translateY(0px);
}

@media (max-width: 625px) {
  .card {
    flex-direction: column;
  }

  .left {
    padding-bottom: 0;
    height: auto;
  }

  .subtitle {
    font-size: 1rem;
  }

  .card:hover {
    background: var(--dark);
  }

  .card:active {
    background: var(--primary);
  }

  .left img {
    border-radius: var(--radius-small);
  }

  .left,
  .right {
    width: 100%;
  }

  .preview {
    transform: translateY(0px);
  }

  .card:hover .preview {
    transform: translateY(0px);
  }
}
