.chapter {
  margin-top: 80px;
}

.text {
  max-width: 816px;
  margin: 0 auto;
}

.media {
  max-width: 100%;
  border-radius: 12px;
  max-width: 100%;
  margin: 24px auto 32px auto;
  overflow: hidden;
}

.media-border {
  border: 12px solid var(--light-gray);
}

.media-border img {
  border-radius: 6px;
}
