.chapter {
  margin-top: 4.5rem;
}
@media (max-width: 550px) {
  .chapter {
    margin-top: 48px;
  }
}

.text {
  max-width: var(--small-container);
  margin: 0 auto;
}

.media {
  max-width: 100%;
  border-radius: var(--radius-big);
  max-width: 100%;
  margin: 1.5rem auto 2rem auto;
  overflow: hidden;
}

.media-border {
  box-shadow: 0 0 0 0.75rem var(--light-gray);
  margin-top: 2rem;
}

@media (max-width: 550px) {
  .media-border {
    box-shadow: none;
    border: 0.5rem solid var(--light-gray);
    margin-top: 1.5rem;
  }
}

.card:hover .preview {
  transform: translateY(0.5rem);
}

.media-border img {
  border-radius: var(--radius-small);
  height: auto !important; /* Fix to override Gatsby generated inline style */
}
