.chapter {
  margin-top: 72px;
}
@media (max-width: 550px) {
  .chapter {
    margin-top: 48px;
  }
}

.text {
  max-width: var(--small-container);
  margin: 0 auto;
}

.media {
  max-width: 100%;
  border-radius: 12px;
  max-width: 100%;
  margin: 24px auto 32px auto;
  overflow: hidden;
}

.media-border {
  box-shadow: 0px 0px 0px 12px var(--light-gray);
  margin-top: 32px;
}
.card:hover .preview {
  transform: translateY(8px);
}

.media-border img {
  border-radius: 6px;
}
