@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #3139ff;
  --primary-darken: #0009e5;
  --white: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-20: rgba(255, 255, 255, 0.2);
  --dark: rgba(0, 0, 0, 1);
  --text: var(--dark);
  --text-60: rgba(0, 0, 0, 0.6);
  --text-40: rgba(0, 0, 0, 0.4);
  --text-20: rgba(0, 0, 0, 0.2);
  --card-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
  --light-gray: #f5f5f6;
  --small-container: 816px;
  --big-container: 1040px;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 48px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h2 {
  font-size: 32px;
  margin-top: 88px;
  margin-bottom: 12px;
}

h3 {
  font-size: 28px;
  margin-top: 0;
  margin-bottom: 8px;
}

h4 {
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 4px;
}

h5 {
  font-size: 20px;
  text-transform: uppercase;
  color: var(--text-40);
}

p {
  font-size: 20px;
  color: var(--text-60);
  margin: 8px 0 16px 0;
  line-height: 1.48;
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}

main {
  max-width: var(--big-container);
  margin: 0 auto;
}
