@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --primary: #3139ff;
  --primary-darken: #0009e5;
  --white: rgba(255, 255, 255, 1);
  --white-80: rgba(255, 255, 255, 0.8);
  --white-20: rgba(255, 255, 255, 0.2);
  --dark: rgba(0, 0, 0, 1);
  --text: var(--dark);
  --text-60: rgba(0, 0, 0, 0.6);
  --text-40: rgba(0, 0, 0, 0.4);
  --text-20: rgba(0, 0, 0, 0.2);
  --card-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  --light-gray: #f5f5f6;
  --small-container: 816px;
  --big-container: 1040px;
  --breakpoint-mobile: 550px;
  --radius-big: 0.75rem;
  --radius-small: 0.375rem;
}

* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  padding: 2rem;
}

@media (max-width: 550px) {
  body {
    padding: 1rem;
  }
}

h1 {
  font-size: 3rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

@media (max-width: 550px) {
  h1 {
    font-size: 2.375rem;
    margin-top: 1rem;
  }
}

h2 {
  font-size: 2rem;
  margin-top: 5.5rem;
  margin-bottom: 0.75rem;
}

@media (max-width: 550px) {
  h2 {
    font-size: 1.5rem;
    margin-top: 3.5rem;
  }
}

h3 {
  font-size: 1.75rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media (max-width: 550px) {
  h3 {
    font-size: 1.375rem;
  }
}

h4 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

@media (max-width: 550px) {
  h4 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 1.25rem;
  color: var(--text-60);
  margin: 0.5rem 0 1rem 0;
  line-height: 1.48;
}

@media (max-width: 550px) {
  p {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

@media (max-width: 350px) {
  p {
    font-size: 1rem;
    line-height: 1.4;
  }
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}

main {
  max-width: var(--big-container);
  margin: 0 auto;
}
