.wrapper {
  display: grid;
  margin: 2.5rem auto;
  max-width: var(--big-container);
  border-radius: var(--radius-big);
  overflow: hidden;
  box-shadow: 0 0 0 0.75rem var(--light-gray);
}

.wrapper video {
  width: calc(100% + 1px); /* Fix for weird black border */
  border-radius: var(--radius-small);
  background: var(--light-gray);
}

@media (max-width: 550px) {
  .wrapper {
    margin: 1.5rem auto;
    box-shadow: none;
    border: 0.5rem solid var(--light-gray);
  }
}
