.intro {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 816px;
  margin: 64px auto 0 auto;
}

.text p {
  font-size: 26px;
  color: var(--text);
}

.avatar {
  margin-left: 48px;
  border-radius: 50%;
  overflow: hidden;
  min-width: 160px;
}
