.header {
  width: 100%;
}

.nav {
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  max-width: var(--small-container);
  margin: 0 auto;
}

@media (max-width: 550px) {
  .nav {
    padding: 1rem 0;
  }
}

.text {
  max-width: var(--small-container);
  margin: 0 auto;
}

.subtitle {
  color: var(--text-40);
  margin-bottom: 1.5rem;
}
