.header {
  width: 100%;
}

.nav {
  padding: 32px 0;
  display: flex;
  justify-content: space-between;
  max-width: var(--small-container);
  margin: 0 auto;
}

.text {
  max-width: var(--small-container);
  margin: 0 auto;
}

.subtitle {
  color: var(--text-40);
  margin-bottom: 24px;
}
