.goals {
  margin-bottom: 3rem;
  background: #f9f9f9;
  padding: 2rem;
  border-radius: var(--radius-big);
  margin-top: 2rem;
}

.goals h4 {
  margin-bottom: 1rem;
}

.goals ul {
  padding-left: 1.5rem;
  font-size: 1.25rem;
  color: var(--text-60);
  margin: 0.5rem 0 0 0;
  line-height: 1.44;
}

@media (max-width: 550px) {
  .goals ul {
    font-size: 1.125rem;
    line-height: 1.4;
  }
}

@media (max-width: 350px) {
  .goals ul {
    font-size: 1rem;
    line-height: 1.4;
  }
}

.goals li {
  margin-top: 0.25rem;
}
